<!--
	zhangyufeng
	2017.10
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>工具平台</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<!-- load css -->
	<link rel="stylesheet" type="text/css" href="common/layui/css/layui.css" media="all" />
	<link rel="stylesheet" type="text/css" href="common/global.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/adminstyle.css" media="all" />
	
	
</head>
<body>
<div class="layui-layout layui-layout-admin" id="layui_layout">
	<!-- 顶部区域 -->
	<div class="layui-header header header-demo">
		<div class="layui-main">
		    <!-- logo区域 -->
			<div class="admin-logo-box">
				<a class="logo" href="" title="logo">非车险测试工具</a>


				<div class="larry-side-menu">
					<i class="fa fa-bars" aria-hidden="true"></i>

				</div>
			</div>



            <!-- 右侧导航 -->
            <ul class="layui-nav larry-header-item">
				<li class="layui-nav-item">
					<a href="javascript:;">
						<img src="images/didilogo.png" class="layui-circle" width="35" height="35"/>
						<cite>xiaoju</cite>
					</a>
					<dl class="layui-nav-child">
						<dd><a href="javascript:;" data-url="page/personInfo.html"><i class="iconfont icon-geren1" data-icon='icon-geren1'></i><span>个人信息</span></a></dd>
						<dd><a herf="javascript:;" data-url="page/changepwd.html"><i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i><span>修改密码</span></a></dd>
						<dd><a href="page/login.html"><i class="iconfont icon-exit"></i>退出</a></dd>
					</dl></li>
            </ul>
		</div>
	</div>


	<!-- 左侧侧边导航开始 -->
	<div class="layui-side layui-side-bg layui-larry-side" id="larry-side">

        <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">
			<div class="user-photo">
				<a class="img" title="我的头像" ><img src="images/didilogo.png"/></a>
				<p>你好！<span class="userName">欢迎使用</span></p>
			</div>
		<!-- 左侧菜单 -->
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item layui-this">
				<a href="javascript:;" data-url="main.html">
				    <i class="iconfont icon-home1" data-icon='icon-home1'></i>
					<span>首页</span>
				</a>
			</li>

			<!-- 保险平台 -->
			<li class="layui-nav-item">
					<a href="javascript:;">
					   <i class="iconfont icon-wenzhang1" ></i>
					   <span>小桔医保</span>
					   <em class="layui-nav-more"></em>
					</a>
					   <dl class="layui-nav-child">
					   	   
					    
					    	<dd>
					    		<a href="javascript:;" data-url="page/JiedanbaoDel.html">
					    		   <i class="iconfont icon-wenzhang2" data-icon='icon-wenzhang2'></i>
					    		   <span>小桔医保删除相关数据</span>
					    		</a>
					    	</dd>
						   <dd>
							   <a href="javascript:;" data-url="page/PolicyQuery.html">
								   <i class="iconfont icon-wenzhang2" data-icon='icon-wenzhang2'></i>
								   <span>小桔医保查询保单</span>
							   </a>
						   </dd>
					   </dl>
			   </li>

			<!-- redis -->
			<li class="layui-nav-item">
					<a href="javascript:;">
					   <i class="iconfont icon-xitong" ></i>
					   <span>Redis</span>
					   <em class="layui-nav-more"></em>
					</a>
					    <dl class="layui-nav-child">
							<dd>
								<a href="javascript:;" data-url="page/redisreboot.html">
									<i class="iconfont icon-zhandianpeizhi" data-icon='icon-zhandianpeizhi'></i>
									<span>redis重启指南</span>
								</a>
							</dd>
					    	<dd>
					    		<a href="javascript:;" data-url="http://10.95.176.228:8018/page/addNewRedis.jsp">
					    		   <i class="iconfont icon-zhandianpeizhi" data-icon='icon-zhandianpeizhi'></i>
					    		   <span>redis增加地址</span>
					    		</a>
					    	</dd>
					    <dd>
					    		<a href="javascript:;" data-url="http://10.95.176.228:8018/redis/selectIpAndPort">
					    		   <i class="iconfont icon-zhandianpeizhi" data-icon='icon-zhandianpeizhi'></i>
					    		   <span>redis增删改查</span>
					    		</a>
					    	</dd>
					    	
					    </dl>
				</li>
			<!-- 个人信息 -->
			<!--<li class="layui-nav-item">-->
				<!--<a href="javascript:;">-->
					<!--<i class="iconfont icon-jiaoseguanli" ></i>-->
					<!--<span>我的面板</span>-->
					<!--<em class="layui-nav-more"></em>-->
				<!--</a>-->
				<!--<dl class="layui-nav-child">-->
                    <!--<dd>-->
                        <!--<a href="javascript:;" data-url="page/personInfo.html">-->
                            <!--<i class="iconfont icon-geren1" data-icon='icon-geren1'></i>-->
                            <!--<span>个人信息</span>-->
                        <!--</a>-->
                    <!--</dd>-->
                    <!--<dd>-->
                        <!--<a href="javascript:;" data-url="page/changepwd.html">-->
                            <!--<i class="iconfont icon-iconfuzhi01" data-icon='icon-iconfuzhi01'></i>-->
                            <!--<span>修改密码</span>-->
                        <!--</a>-->
                    <!--</dd>-->
                    <!--<dd>-->
                        <!--<a href="javascript:;" data-url="page/myloginfo.html">-->
                            <!--<i class="iconfont icon-piliangicon" data-icon='icon-piliangicon'></i>-->
                            <!--<span>日志信息</span>-->
                        <!--</a>-->
                    <!--</dd>-->
                <!--</dl>-->
			<!--</li>-->
			<!--&lt;!&ndash; 用户管理 &ndash;&gt;-->
			<!--<li class="layui-nav-item">-->
					<!--<a href="javascript:;">-->
					   <!--<i class="iconfont icon-jiaoseguanli2" ></i>-->
					   <!--<span>demo</span>-->
					   <!--<em class="layui-nav-more"></em>-->
					<!--</a>-->
					    <!--<dl class="layui-nav-child">-->
					    	<!--<dd>-->
					    		<!--<a href="javascript:;" data-url="page/table.html">-->
					    		   <!--<i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>-->
					    		   <!--<span>有线条表格</span>-->
					    		<!--</a>-->
					    	<!--</dd>-->
					    	<!--<dd>-->
					    		<!--<a href="javascript:;"  data-url="page/table_1.html">-->
					    		   <!--<i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>-->
					    		   <!--<span>无线条输入增加内容框</span>-->
					    		<!--</a>-->
					    	<!--</dd>-->
					    	<!--<dd>-->
					    		<!--<a href="javascript:;" data-url="page/myloginfo.html">-->
					    		   <!--<i class="iconfont icon-quanxian2" data-icon='icon-quanxian2'></i>-->
					    		   <!--<span>无线条表格</span>-->
					    		<!--</a>-->
					    	<!--</dd>-->
					    <!--</dl>-->
			    <!--</li>-->
			<!---->
			
                 <!-- 会员管理 -->
				<li class="layui-nav-item">
					<a href="javascript:;">
					   <i class="iconfont icon-m-members" ></i>
					   <span>补充面板</span>
					   <em class="layui-nav-more"></em>
					</a>
					<dl class="layui-nav-child">
                           <dd>
                           	   <a href="javascript:;" data-url="404.html">
					              <i class="iconfont icon-zhuti"  data-icon='icon-zhuti'></i>
					              <span>欢迎补充</span>
					           </a>
                           </dd>
                           <!--<dd>-->
                           	   <!--<a href="javascript:;" data-url="page/linksList.html">-->
					              <!--<i class="iconfont icon-zhuti"  data-icon='icon-zhuti'></i>-->
					              <!--<span>友情链接</span>-->
					           <!--</a>-->
                           <!--</dd>-->
                    </dl>
				</li>
				
		
				
			
				<!-- 友链设置 -->
				
		</ul>
	    </div>
	</div>

	<!-- 左侧侧边导航结束 -->
	<!-- 右侧主体内容 -->
	<div class="layui-body" id="larry-body" style="bottom: 0;border-left: solid 2px #2299ee;">
		<div class="layui-tab layui-tab-card larry-tab-box" id="larry-tab" lay-filter="demo" lay-allowclose="true">
			<div class="go-left key-press pressKey" id="titleLeft" title="滚动至最右侧"><i class="larry-icon larry-weibiaoti6-copy"></i> </div>
			<ul class="layui-tab-title">
				<li class="layui-this" id="admin-home"><i class="iconfont icon-diannao1"></i><em>首页</em></li>
			</ul>
			<div class="go-right key-press pressKey" id="titleRight" title="滚动至最左侧"><i class="larry-icon larry-right"></i></div> 
			
			<div class="layui-tab-content" style="min-height: 150px; ">
				<div class="layui-tab-item layui-show">
					<iframe class="larry-iframe" data-id='0' src="main.html"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部区域 -->
	<div class="layui-footer layui-larry-foot" id="larry-footer">
		<div class="layui-mian">  
		    <p class="p-admin">
		    	<span>2018 &copy;</span>
		    	 zhangyufeng
		    </p>
		</div>
	</div>
</div>
<!-- 加载js文件-->                                                                                                                                                                                           
	<script type="text/javascript" src="common/layui/layui.js"></script> 
	<script type="text/javascript" src="js/larry.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
<!-- 锁屏 -->

</body>
</html>