<!DOCTYPE html>

<!--/*-->
<!--* @zhangyufeng-->
<!--* 2019.5-->
<!--* */-->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Redis操作</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="/common/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/common/bootstrap/css/bootstrap.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/common/global.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/css/personal.css" media="all"/>
</head>
<body>

<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="layui-tab">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>Redis操作</legend>
            </fieldset>
            <div style="text-align: center; margin-top: 5px;">
                <table border="0px" align="center" style="width:100%;table-layout:fixed">
                    <tr>
                        <td align="left" id="result1" height="27"></td>
                    </tr>
                </table>
            </div>


            <!-- 操作日志 -->

            <div class="layui-form-item">
                <label class="layui-form-label">服务地址</label>
                <div class="addRedis">
                    <div class="layui-input-inline">
                        <select name="redisIpAndPort" id="redisIpAndPort" class="abc"></select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Key</label>
                <div class="layui-input-inline">
                    <input type="tel" id="key" placeholder="请输入key" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div>
                    <button class="layui-btn layui-btn-primary" onclick="clearAll1()">重置</button>
                    <button class="layui-btn" onclick="getRedis()">查询</button>
                    <button class="layui-btn layui-btn-small layui-btn-primary" onclick="delRedis()"><i
                            class="layui-icon">&#xe640;清除</i>
                    </button>
                </div>
            </div>

            <br></br>

            <blockquote class="layui-elem-quote news_search">
                <div class="layui-btn-group">
                    <a>说明：<i>建议先查询后再做清除动作</i></a>
                </div>
            </blockquote>

            <br></br>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>返回结果</legend>
            </fieldset>
            <div style="text-align: center; margin-top: 5px;">
                <table border="0px" align="center" style="width:100%;table-layout:fixed">
                    <tr>
                        <td align="left" id="result" height="27"></td>
                    </tr>
                </table>

                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
            </div>
            <!-- 完 -->

        </div>
    </div>

</section>
<script type="text/javascript" src="/common/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>

<script type="text/javascript">

    // 参数校验
    function validateParam(redisIpAndPort, key) {
        if (redisIpAndPort == "")
            return "地址端口不能为空!";
//        if (!(/^1[3|4|5|7|8][0-9]{9}$/.test(testerPhone)))
//            return "请输入正确的手机号!";
        if (key == "")
            return "key不能为空";

        return "";
    }

    function getRedis() {
        var key = $("#key").val();
        var redisIpAndPort = $("#redisIpAndPort").val();
        var str = validateParam(redisIpAndPort, key);
        if (str !== "") {
            alert(str);
        } else {
            $.ajax({
                type: "GET",
                url: "/redis/getkv",
                data: {redisIpAndPort: redisIpAndPort, key: key},
                success: function (data) {
                    $("#result").html("查询结果：" + data.result);
                },
                error: function (xhr) {
                    alert(xhr.status + ':' + xhr.statusText);
                    alert("查询失败")
                }

            });
        }

    }

    function delRedis() {
        var key = $("#key").val();
        var redisIpAndPort = $("#redisIpAndPort").val();
        var str = validateParam(redisIpAndPort, key);
        if (str !== "") {
            alert(str);
        } else {
            $.ajax({
                type: "GET",
                url: "/redis/delkv",
                data: {redisIpAndPort: redisIpAndPort, key: key},
//                data: JSON.stringify({
//                    "mid":mid,
//                }),
//                dataType: "json",
//                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#result").html("删除成功!" + data.result);
                },
                error: function (xhr) {
                    alert(xhr.status + ':' + xhr.statusText);
                    alert("删除失败!")
                }

            });
        }

    }

    $(document).ready(function () {

        $.ajax({
            url: "/redis/selectIpAndPort",
            type: "GET",
            success: function (result) {
                $('#redisIpAndPort').empty();
                $('#redisIpAndPort').append(new Option("请选择redis服务地址", ""));
                for (var i = result.length - 1; i >= 0; i--) {
                    $('#redisIpAndPort').append(
                        new Option(result[i].ip + ":" + result[i].port, result[i].ip + ":" + result[i].port));

                }
            }
        });
    })

    function clearAll1() {
        $("#key").val("");
    }

</script>
</body>
</html>